// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$diagnostic-bg: #F8F8F8;
$diagnostic-fg: #444444;

div#ion-diagnostics-toast {
  background: $diagnostic-bg;
  color: $diagnostic-fg;
  .ion-diagnostics-toast-message {
    color: $diagnostic-fg;
  }
  .ion-diagnostics-toast-spinner svg circle {
    stroke: $diagnostic-fg;
  }
}

ion-header ~ ion-content > div.fixed-content,
ion-header ~ ion-content > div.scroll-content {
  margin-top: 56px;
}
